body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  /* font-family: 'Oxygen', sans-serif; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  min-height: 80vh;
}
